#modal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 375px) {
  #modal img {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #modal img {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  #modal img {
    width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  #modal img {
    width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  #modal img {
    width: 350px;
  }
}
